body{
    background-color: rgb(44, 44, 49);
}

.name{
    color: white;
    text-align: center;
}

.nav-link{
    color: white;
    font-size: 30px;
}

.homeName{
    color: white;
    font-size: 30px;
    text-align: center;
}


.head{
    background-color: rgb(102, 102, 102);
}

.nav-link:hover{
    color: rgb(160, 160, 160);
}